server:
  port: 9092
spring:
  application:
    name: question-service
  datasource:
    url: jdbc:mysql://localhost:3306/mico
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
