server:
  port: 9091
spring:
  application:
     name: quiz-service
  datasource:
    url: jdbc:mysql://localhost:3306/mico
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
